<%- include('../partials/header') %>
<h1 id="feed">Main Feed</h1>
<% if (user) { %>
  <h2><a href="/posts/new">Make A Post</a></h2>
<% } %>
<% posts.forEach(function(m) { %>
  <div class="posts">
    <div class="name"><img alt="avatar" class="avatar" src="<%= m.userAvatar %>">
    <!-- <div id="whateverIwant"> -->
      <div>
        <div class="name-space"><%= m.userName %></div>
        <div class="pcontent" ><%= m.content %></div>
          <% if (user) { %>
            <div class="reply-link"><button class="reply-button" onclick="window.location.href='/posts/<%= m._id %>';">Replies</div>
          <% } %>
      </div>
    </div>
  </div> 
<% }); %>
