<%- include('../partials/header') %>

<!-- <div id="show-post">
    <div class="name"><img alt="avatar" id="avatar" src="<%= user.avatar %>"><div id="name-space"><%= user.name %></div></div>
    <div><%= post.content %></div>
</div>  -->

<div class="posts">
  <div class="name"><img alt="avatar" class="avatar" src="<%= user.avatar %>">
    <div>
      <div class="name-space"><%= user.name %></div>
      <% if (user && user._id.equals(post.user)) { %>
        <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
          <input name="editcontent" id="edit" class="pcontent" value="<%= post.content %>" />
          <input type="submit" class="editbutton" value="edit">
        </form>
        <div>
          <form class="reply-link" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
          </form>
        </div>
      <% } %>
    </div>
  </div>
</div> 



<h1>Write A Reply</h1>
<form id="new-form" action="/posts/<%= post._id %>/replies" method="POST">
    <input type="text" name="content" id="post-box">
    <button type='submit'>Post</button>
</form>

<% if (post.replies.length) { %>

  <h1>Replies</h1>
      <% post.replies.reverse().forEach(function(r) { %>
        <div class="posts"> 
          <div class="name"><img alt="avatar" id="avatar" src="<%= r.userAvatar %>">
            <div>
              <div class="name-space"><%= r.userName %></div>
              <div class="pcontent"><%= r.content %></div>
                <% if (user && user._id.equals(r.user)) { %>
                  <div>
                    <form class="reply-link" action="/posts/<%= post._id %>/replies/<%= r._id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                    </form>
                  </div>
                <% } %>
            </div>
          </div>
        </div>
      <% }); %>
<% } else { %>
  <h5>No Replies Yet</h5>
<% } %>